<footer class="site-footer border-top">
    <div class="container">

          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Contact Info</h3>
            </div>
            <div class="col-md-6 col-lg-4 block-5 mb-5">
              <ul class="list-unstyled">
                <li class="address">UZB, KXorazm region, Xonqa cite, IT parc</li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-4 block-5 mb-5">
              <ul class="list-unstyled">
                <li class="phone"><a href="tel://998977922422">+99 897 792 24 22</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-lg-4 block-5 mb-5">
            <ul class="list-unstyled">
              <li class="email">rahimovabul2@gmail.com</li>
            </ul>
          </div>
          </div>
      
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-10">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        <div class="col-md-2">
          <a href="/logout" class="text-decoration-none">logout
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
              <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>