<div class="container" >   
        <form action="/signup" method="post" style="max-width: 40%; margin-left: 30%;">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" class="form-control" id="name"  name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control"  id="email"name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="name">password</label>
                <input type="password" class="form-control"  id="password"name="password" >
            </div>
                <div class="text-center" style="max-width: 40%; margin-left: 30%;"><button class="btn btn-primary" type="submit">Send Message</button></div>
   
        </form>
</div>
            

